<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721500834706-4bu4j0oiusgjo4gjci6q1jgf8kfj3b36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721500834706-4bu4j0oiusgjo4gjci6q1jgf8kfj3b36</string>
	<key>API_KEY</key>
	<string>AIzaSyDjpfc-3YwEZdP8s23_LCSPk5u-TQZOZ-c</string>
	<key>GCM_SENDER_ID</key>
	<string>721500834706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungsuwatproj</string>
	<key>PROJECT_ID</key>
	<string>ungsuwatproj</string>
	<key>STORAGE_BUCKET</key>
	<string>ungsuwatproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721500834706:ios:3320c0c7d13c312dc7cf4b</string>
</dict>
</plist>